body{
	width: 1024px;
	height: 768px;
	background-image: url(Links/Titelbild.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow:hidden;
	font-style: thin;
}

span {
	font-family: arial;
	font-style: normal;
	float: left;
}
.topSideBar span{
	font-size: 15px;
	color: white;
}

.logo {
	float: right;
	width: 150px;
}

.ebene{
	background-color: transparent;
}


.button{
	display:block;
	cursor:pointer;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px #D60000;
}

.button span{

	color: white;
	font-size: 25px;
	float:left;
}

.button-container-right {
	position: absolute;
	left: 939px;
	top: 454px;
	width: 85px;
	height: 297px;
}

.button.button-info{
	float: right;
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	width: 85px;
	height: 85px;
}

.button.button-info span {
	font-family: helvetica;
	font-weight: bold;
	color:white;
	font-size: 60px;
	line-height: 85px;
	margin-left: 35px;
}

.button.button-return {
	float:right;
	background:url('Links/button_return.svg');
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	width: 85px;
	height: 85px;
	margin-top: 10px;
}
.button.button-stop {
	float: right;
	background:url('Links/button_stop.svg');
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	width: 85px;
	height: 85px;
	margin-top: 10px;
}

/* TASTATUR ALLES */

.tastaturAlles{
	position: absolute;
	top:100px;
	left: 50px;
	height:625px;
	width:850px;
	float:left;
	background-color: rgba(255,255,255,0.8);
	font-family: arial;
}

.Vorschlag {
	display: block;
	width:700px;
	height:40px;
	background-color: #566373;
	box-shadow: 0px 3px rgb(142,142,147);
	border-radius: 5px;
	margin-left: 15px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:white;
	margin-top: 10px;
}

.Knopf_nachoben{
	float:right;
	background:url('Links/button_up.svg');
	background-color: #566373;
	box-shadow: 0px 2px rgb(142,142,147) ;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	margin-right:20px;
	margin-top: -50px;
}
.Knopf_nachunten{
	float:right;
	background:url('Links/button_down.svg');
	background-color: #566373;
	box-shadow: 0px 2px rgb(142,142,147) ;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	margin-right:20px;
	margin-top: 150px;
}

.Eingabefeld {
	color:black;
	margin-top: 20px;
	margin-left: 15px;
	background-color: white;
	width:800px;
	height:40px;
	font-size: 30px;
	padding-left: 20px;
	padding-top: 20px;
	box-shadow: none;
}

/***************************** T A S T A T U R ******************************/

a {
	text-decoration: none;  
} 

#virtualKeyboard {

	background-color: transparent;
	margin-top: 50px;
	margin-left: 10px;
	width: 850px;
	height:250px;
}

/************ TASTEN-GESTALTUNG ******************/

/****** WÄHLBAR ******/

/* normale Tasten, wählbar */
.taste{
	display: block;
	width:40px;
	height:40px;
	background-color: #566373;
	box-shadow: 0px 2px rgb(142,142,147);
	border-radius: 5px;
	margin-left: 10px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:white;
	margin-top: 0px;
	float:left;
}
/* normale Tasten, wählbar, ZWEITE ZEILE (siehe margin-left) */
.taste2{
	display: block;
	width:40px;
	height:40px;
	background-color: #566373;
	box-shadow: 0px 2px rgb(142,142,147);
	border-radius: 5px;
	margin-left: 50px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:white;
	margin-top: 0px;
	float:left;
}

/* normale Tasten, wählbar, DRITTE ZEILE (siehe margin-left) */
.taste3{
	display: block;
	width:40px;
	height:40px;
	background-color: #566373;
	box-shadow: 0px 2px rgb(142,142,147);
	border-radius: 5px;
	margin-left: 85px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:white;
	margin-top: 0px;
	float:left;
}

/****** NICHT WÄHLBAR ******/

.tasteinaktiv{
	display: block;
	width:40px;
	height:40px;
	background-color: transparent;
	border-radius: 5px;
	margin-left: 15px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:black;
	margin-top: 0px;
	float:left;
	border-style:solid;
	border-width:1px;
}
.tasteinaktiv2{
	display: block;
	width:40px;
	height:40px;
	background-color: transparent;
	border-radius: 5px;
	margin-left: 55px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:black;
	margin-top: 0px;
	float:left;
	border-style:solid;
	border-width:1px;
}
.tasteinaktiv3{
	display: block;
	width:40px;
	height:40px;
	background-color: transparent;
	border-radius: 5px;
	margin-left: 85px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
	color:black;
	margin-top: 0px;
	float:left;
	border-style:solid;
	border-width:1px;
}


