body{
	width: 1024px;
	height: 768px;
	background-image: url(Links/Titelbild.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow:hidden;
	font-size: 22px;
}

span {
	font-family: arial;
	font-style: normal;
	float: left;
}
.button{
	font-family: arial;
	font-style: normal;
	color: white;
	float:left;
	line-height: 100%;
	text-align: left;
	border-radius: 5px;
}
/* SIDEBAR UND TOP */

.topSideBar span{
	font-size: 15px;
	color: white;
	padding-right: 5px;	
}
.logo {
	float: right;
	width: 170px;
}
.button-container-right {
	position: absolute;
	left: 939px;
	top: 454px;
	width: 85px;
	height: 297px;

}
.button.button-info{
	float: right;
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	width: 85px;
	height: 85px;
}

.button.button-info span {
	font-family: helvetica;
	font-weight: bold;
	color:white;
	font-size: 60px;
	line-height: 85px;
	margin-left: 35px;
}

.button.button-return {
	float:right;
	background:url('Links/button_return.svg');
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	width: 85px;
	height: 85px;
	margin-top: 10px;
}

.button.button-stop {
	float: right;
	background:url('Links/button_stop.svg');
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	width: 85px;
	height: 85px;
	margin-top: 10px;
}
.startAction{
	display:block;
	float: left;
	margin-left: 102px;
	margin-top: 500px;
}
.startAction img{
	width: 54px;
}
.button.button-wahl{
	float: left;
	width: 360px;
	height: 175px;	
	background-color: #566373;
	box-shadow: 0px 5px rgb(142,142,147) ;
	margin-right: 50px;
}
.button.button-wahl span{
	line-height: 35px;
	margin-left: 20px;
	margin-top: 20px;
}
.startTitle{
	font-size: 35px;
}