body {
  	font-family: Areal;
  	font-size:medium;  
  	background-image:url(Titelbild.jpg);
  	background-size:cover;
	background-repeat:no-repeat;
}

h2 {
	color:rgba(255,255,255,10); 
	font-size:large; 
	margin-top:0;	
}

h1 span {
	margin-left: 10px;
	margin-right: 10px;
}

img#logo {
	position:absolute;
	top:0;
	right:0;
	width:200px;
}

img#willkommen {
	position:absolute;
	top:0;
	left:0;
	width:400px;
}

h2{
	text-align:center; 
	margin-top:600px;
	font-family: Areal;
	font-size:large;
  	font-weight:lighter;
	color:rgba(255,255,255,10);
}

h2 span {
	margin-left: 40px;
	margin-right: 40px;
}

